html {
  font-size: 16px;
}

.v-application--wrap {
  min-height: auto;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #222;
}

button, input, optgroup, select, textarea {
  font-family: 'Roboto', sans-serif;
}

.brand-logo {
  width: 180px;
}

.hero h1 span {
  font-size: 3rem;
  font-weight: 700;
}

.hero h1 small {
  font-weight: 300;
  display: block;
  font-size: 2.5rem;
}

a {
  color: #00c853;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover,
a:focus {
  color: #009624 !important;
  outline: 0;
  text-decoration: none !important;
}

a.btn:hover,
a.btn:focus {
  color: #fff !important;
}

section {
  padding: 0;
}

.card-outline-primary {
  border-color: #00c853;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
}

.vh-fix {
  min-height: 100vh;
}

@media (max-width: 579.98px) {
  .hero {
    max-width: 100%;
  }

  .vh-fix {
    min-height: auto;
  }
}


.form-control {
  height: 3rem;
}

textarea.form-control {
  height: 6rem;
}

.form-control:hover, .form-control:focus {
  border-color: #00c853;
}

/*===============================================
* Background Colors
================================================*/
.bg-alt {
  background-color: #fff;
}

.bg-faded {
  background-color: #F2F2F2;
}

.bg-primary {
  background-color: #00c853 !important;
}

.bg-green {
  background-color: #43A047;
}

/*===============================================
* Text Colors
================================================*/
.text-faded {
  color: #D9EDF7;
}

.text-dark {
  color: #37474F;
}

.text-muted {
  color: #999 !important;
}

.text-light {
  color: #fff;
}

.text-light:hover, .text-light:focus {
  color: #eee;
  text-decoration: none;
}

.text-primary {
  color: #43A047 !important;
}

.text-purple {
  color: #3d5afe !important;
}

.text-orange {
  color: #ffea00 !important;
}

.text-yellow {
  color: #feac00 !important;
}

.text-pink {
  color: #ff0080 !important;
}

.text-green {
  color: #43A047 !important;
}

.text-red {
  color: #FF3B30 !important;
}

.text-violet {
  color: #7B1FA2 !important;
}

.text-teal {
  color: #00796B !important;
}

.text-slate {
  color: #455A64 !important;
}

.text-indigo {
  color: #303F9F !important;
}

/*===============================================
* Icon Sizes
================================================*/
label {
  margin: 0;
  font-size: inherit;
}


.icon-lg {
  font-size: 60px;
  line-height: 18px;
}

.icon-md {
  font-size: 2.5rem;
  line-height: 14px;
}

.icon-sm {
  font-size: 30px;
  line-height: 14px;
}

.action-icons .lead {
  font-size: 1rem;
  margin-top: -.5rem;
}

.form-control-feedback {
  font-size: .875rem;
}

/*===============================================
* Colored Buttons
================================================*/
.btn {
  font-weight: 700;
  cursor: pointer;
}

.btn-outline-white {
  color: #fff !important;
  background-image: none;
  background-color: transparent;
  border-color: #fff;
}

.btn-outline-white:hover {
  background: rgba(255, 255, 255, 0.2) !important;
}

.btn-white {
  color: #00c853;
  background-color: #fff;
  border-color: #fff;
}

.btn-white:hover {
  background: transparent !important;
  color: #fff !important;
}

.btn-radius {
  border-radius: 50px;
}

.border-none {
  border: none !important;
  border-color: transparent !important;
}

.country-code .v-input__slot {
  margin: 0;
}

.country-code .v-text-field__details {
  display: none;
}