<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>ahml1.ru || Домен продается</title>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Vuetify-->
  <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css"/>
</head>
<body class="min-vh-100">

<main class="bg-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 min-vh-100 py-5 bg-faded d-flex">
        <section class="hero m-auto text-center">
          <h1 class="h2 m-0">
            <span class="d-block text-green">ahml1.ru</span>
            <small>домен доступен для покупки</small>
          </h1>
          <p class="m-0 mt-4">Заинтересованы? Пожалуйста, оставьте заявку.</p>
          <div class="mt-5">
            <label for="name">
              <span class="btn text-white bg-green btn-lg">Написать!</span>
            </label>
          </div>
        </section>
      </div>
      <div class="col-12 col-md-6 min-vh-100 d-flex">
        <section class="hero p-md-5">
          <h2 class="h2 m-0 text-primary">Обратная связь</h2>

          <div class="border-top pt-4 mt-4" id="touchForm">
            <v-app>
              <v-form class="pa-md-4 pt-md-6" ref="form" v-model="form" action="./contact.php" method="post">
                <v-row>
                  <!--Ваше имя-->
                  <v-col cols="12">
                    <v-text-field
                        v-model="name"
                        :rules="[rules.required]"
                        name="name"
                        id="name"
                        label="Ваше имя"
                        placeholder="Иванов Иван Иванович"
                        hide-details="auto"
                        clearable></v-text-field>
                  </v-col>
                  <!--E-mail-->
                  <v-col cols="12">
                    <v-text-field
                        v-model="email"
                        :rules="[rules.email, rules.required]"
                        name="email"
                        id="email"
                        label="E-mail"
                        placeholder="example@ahml1.ru"
                        hide-details="auto"
                        clearable></v-text-field>
                  </v-col>
                  <!--Номер телефона-->
                  <v-col cols="12">
                    <vue-tel-input-vuetify
                        v-model="myPhone"
                        :preferred-countries="['ru', 'by', 'ua', 'us']"
                        :valid-characters-only="true"
                        name="phone"
                        id="phone"
                        select-label="Страна"
                        label="Номер телефона"
                        placeholder="+7 (123) 456-78-90"
                        :validate-on-blur="true"
                        :hide-details="true"
                        clearable
                        :rules="isPhoneTouched ? [rules.required] : []"
                        :error="!phone.valid && isPhoneTouched && myPhone"
                        :success="phone.valid"
                        @input="onInput"
                        @keydown="onKeydown"
                        @blur="isPhoneTouched = true"
                    ></vue-tel-input-vuetify>
                  </v-col>
                  <!--Сообщение-->
                  <v-col cols="12">
                    <v-textarea
                        clearable
                        counter="1000"
                        :color="userMessage?.split('').length > 800 && userMessage?.split('').length < 1000 ? 'orange' : ''"
                        maxlength="1001"
                        auto-grow
                        rows="1"
                        name="comments"
                        id="comments"
                        hide-details="auto"
                        label="Комментарий"
                        :rules="[rules.messageMin, rules.messageMax, rules.required]"
                        v-model="userMessage"
                    ></v-textarea>
                  </v-col>
                  <!--Отправить-->
                  <v-col cols="12">
                    <v-row>
                      <v-col cols="auto">
                        <v-btn text @click="$refs.form.reset(); isPhoneTouched = false">
                          Очистить
                        </v-btn>
                      </v-col>
                      <v-col cols="auto" class="ms-auto">
                        <v-btn
                            type="submit"
                            :disabled="!form"
                            color="primary"
                            depressed
                            @click="checkForm"
                        >
                          Отправить
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-form>

              <div v-if="errors.length">
                <v-snackbar
                    v-for="error in errors"
                    v-model="snackbar"
                >
                  {{ error }}

                  <template v-slot:action="{ attrs }">
                    <v-btn
                        color="pink"
                        text
                        v-bind="attrs"
                        @click="snackbar = false"
                    >
                      Закрыть
                    </v-btn>
                  </template>
                </v-snackbar>
              </div>
            </v-app>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12" defer></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js" defer></script>
<script src="./js/tel.js" defer></script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    Vue.directive('mask', VueMask.VueMaskDirective);
    Vue.use(Vuetify);
    const vuetify = new Vuetify({
      theme: {
        options: {
          customProperties: true,
        },
        themes: {
          light: {
            primary: '#43A047',
          },
        },
      },
      icons: {
        iconfont: 'md',
      },
    })
    Vue.use(VueTelInputVuetify, {
      vuetify,
    });

    const form = new Vue({
      el: '#touchForm',
      vuetify: vuetify,
      data: () => ({
        rules: {
          messageMin: v => (v || '').length >= 15 || 'Текст Вашего сообщения не должен быть меньше 15 знаков.',
          messageMax: v => (v || '').length <= 1000 || 'Текст Вашего сообщения не должен превышать 1000 знаков.',
          email: v => !!(v || '').match(/@/) || 'Введен некорректный e-mail',
          length: len => v => (v || '').length >= len || `Invalid character length, required ${len}`,
          password: v => !!(v || '').match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*(_|[^\w])).+$/) ||
            'Password must contain an upper case letter, a numeric character, and a special character',
          required: v => !!v || 'Поле обязательно для заполнения',
        },
        errors: [],
        name: '',
        email: '',
        userMessage: '',
        form: false,
        snackbar: false,
        myPhone: '',
        phone: {
          number: '',
          valid: false,
          country: undefined,
        },
        isPhoneTouched: false,
        messageCounter: 0,
      }),
      methods: {
        checkForm: function (e) {
          this.errors = [];

          if (!this.name) {
            this.errors.push('Укажите имя.');
            this.snackbar = true;
          }
          if (!this.email) {
            this.errors.push('Укажите электронную почту.');
            this.snackbar = true;
          } else if (!this.validEmail(this.email)) {
            this.errors.push('Укажите корректный адрес электронной почты.');
            this.snackbar = true;
          }

          if (!this.errors.length) {
            return true;
          }

          e.preventDefault();
        },
        validEmail: function (email) {
          const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return re.test(email);
        },
        onInput(formattedNumber, {number, valid, country}) {
          this.phone.number = number.international;
          this.phone.valid = valid;
          this.phone.country = country && country.name;
        },
        onKeydown(e) {
          const char = String.fromCharCode(e.keyCode);
          const reg = new RegExp('^\\d+$');
          if (reg.test(char)) return null;
          else e.preventDefault();
        },
      }
    });
  });
</script>

<script src="./js/jquery.min.js" defer></script>
<script src="./js/jquery.validate.min.js" defer></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    $("#main-offer-form").validate({
      errorClass: 'form-control-feedback',
      errorElement: 'div',
      highlight: function (element) {
        $(element).parents(".form-group").addClass("has-danger");
      },
      unhighlight: function (element) {
        $(element).parents(".form-group").removeClass("has-danger");
      },
      rules: {
        name: 'required',
        email: {
          required: true,
          email: true
        },
        phone: {
          required: true,
          minlength: 10,
          maxlength: 10
        },
        price: "required",
        comments: {
          maxlength: 500
        }
      },
      messages: {
        name: 'Please enter your name.',
        email: {
          required: 'You can not leave this empty.',
          email: 'Please enter a valid email address.'
        },
        phone: {
          required: 'You can not leave this empty.',
          matches: 'Please enter a valid phone number.',
          minlength: 'Phone number should be min 10 digits.',
          maxlength: 'Phone number should be max 10 digits.'
        },
        price: {
          price: 'Please enter offered price.'
        },
        comments: {
          maxlength: 'Message length must be less than 500 character.'
        }
      }
    });
  });
</script>
</body>
</html>